footer.container-fluid
  .row
    .col
      a(href='https://www.linkedin.com/in/takunda-mudarikwa-56203220', target='_blank')
        img.img-fluid.rounded.mx-auto.d-block(src='/images/linkedin.png', alt='Linkedin Logo')
      h4 © #{year} takundamudarikwa.com
