footer.row(class='align-items-center footer')
  .col
    a(href='https://www.linkedin.com/in/takunda-mudarikwa-56203220', target='_blank')
      img(class='img-fluid',src='images/linkedin.png', alt='Linkedin Logo')
    if year 
      p © #{year} takundamudarikwa.com
    else
      p © 2016 takundamudarikwa
