meta(charset='UTF-8')
meta(name='description', content='Takunda Mudarikwa personal portfolio website. Showcasing current skills, past projects, and contact information')
meta(name='keyword', content='Takunda Mudarikwa, Takunda Eugene Mudarikwa, Takunda Mudarikwa personal website , Takunda Eugene Mudarikwa portfolio website, Takunda Mudarikwa personal website , Takunda Eugene Mudarikwa portfolio website')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='theme-color', content='#000000')
title #{title}
link(rel='stylesheet', href='/stylesheets/normalize.css')
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Oswald')
link(rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico')
