nav(class="navbar navbar-default navbar-fixed-bottom collapse navbar-collapse",style='text-align: center;background-color:#f3bfbf;padding-top:.5em;padding-bottom:.5em')
  if path == '/'
    a(href='/')
      button.selected HOME
  else
    a(href='/')
      button HOME  
  if path == '/portfolio'
    a.navlink(href='/portfolio')
      button.selected PORTFOLIO
  else
    a.navlink(href='/portfolio')
      button PORTFOLIO      
  if path == '/viewresume'
    a.navlink(href='/viewresume',target='_blank')
      button.selected RESUME
  else
    a.navlink(href='/viewresume',target='_blank')
      button RESUME      
  if path == '/about'
    a.navlink(href='/about')
      button.selected ABOUT
  else
    a.navlink(href='/about')
      button ABOUT      
  if path == '/contact'
    a.navlink(href='/contact')
      button.selected CONTACT
  else
    a.navlink(href='/contact')
      button CONTACT