.row(class='align-items-center')
  .col(style='text-align: center;margin-bottom: 5px;')
    a(href='/portfolio')
      button PORTFOLIO
    a(href='/downloadresume')
      button RESUME
    a(href='/about')
      button ABOUT
    a(href='/contact')
      button CONTACT