extends layout

block content
  .row(class='align-items-center',style='border-top: 5px solid black')
    .col(class='bcontent')
      img(class='img-fluid img-thumbnail rounded mx-auto d-block',src='images/family.jpg', alt='family picture')
      p.title THE MUDARIKWA FAMILIY (left - right : Takunda , Chavon & Israel) 
      p A happily married father of a handsome boy and a beautiful daugther. I enjoy spending time with my family and relaxing at home while watching some of my favorite tv shows or movies. I enjoy embarking on different kinds of coding challenges and adventures as well as learning new skills. I have an 3 year Advanced Diploma in Health Informatics Technology from Centennial College in Canada. From there I enrolled in Computer Science at the University of Indianapolis, took a couple classes which led me to my first realization of wanting to focus on web development. I managed to secure an internship that ended up turing into a full-time job were I was exposed to different stages of software development life cycles and was able to solidfy my fundamentals.
      p I'm currently taking a grow with Google Scholarship focusing on mobile development and MongoDB classes from Mongo University. As I keep on adding more skills to my never ending bag of skill set, staying current with new and emerging technologies with forever be my motto!