extends layout

block content
  .container-fluid
    .row(class='align-items-center',style='border-top: 5px solid black; padding-top: 5px')
      .col(class='bcontent')
        img(class='img-fluid img-thumbnail rounded mx-auto d-block',src='images/family.jpg', alt='family picture')
        h1.title THE MUDARIKWA FAMILY (left - right : Takunda , Chavon & Israel)
        p I am a happily married father of a handsome son and a beautiful daughter. I enjoy spending time with my family and relaxing at home while watching some of my favorite TV shows or movies. I enjoy embarking on different kinds of coding challenges and adventures as well as learning new skills. I have an three year Advanced Diploma in Health Informatics Technology from Centennial College in Canada. From there, I enrolled in Computer Science at the University of Indianapolis; took a couple classes which led me to my first realization of wanting to focus on web development. I managed to secure an internship that turned into a full-time position were I was exposed to different stages of software development life cycles and was able to solidify my fundamentals.
        p I'm currently taking a grow with Google Scholarship program focusing on mobile development program. As I keep on adding more skills to my never ending bag of skill set, staying current with new and emerging technologies will forever be my motto!
