extends layout

block content
  .container-fluid
    .row(class='align-items-center',style='border-top: 5px solid black; padding-top: 5px')
      .col(class='bcontent')
        img(class='img-fluid img-thumbnail rounded mx-auto d-block',src='images/workflow.jpg', alt=' profile picture')
        h1.title(class='h1') Let's get some work done!
        div
          #emailfromcustomer
            input#customeremail(type='text', placeholder='Please enter your email')
            textarea#customertext(placeholder='Please write a reason for contacting me. I usually respond to emails within 24 hours. :)', rows='6' )
            button#contactform_submit SEND EMAIL
