extends layout

block content
  .container-fluid
    .row(class='align-items-center')
      .col(class='bcontent')
        img(class='img-fluid img-thumbnail rounded mx-auto d-block',src='images/workflow.jpg', alt=' profile picture')
        h1.title(class='h1') Let's get some work done!
        div
          #emailfromcustomer
            input#customeremail(type='text', placeholder='Please enter your email')
            textarea#customertext(placeholder='Please write a reason for contacting me. I usually respond to emails within 24 hours. :)', rows='46666666666666444444446666666666' )
            button#contactform_submit SEND EMAIL
