extends layout

block content
  .row(class='align-items-center',style='border-top: 5px solid black')
    .col(class='bcontent')
      img(class='img-fluid img-thumbnail rounded mx-auto d-block',src='images/profilepic/profilepic1.jpg', alt=' profile picture')
      p.title Takunda Eugene Mudarikwa | Full-stack Developer 
      p I'm actively taking new work that can range from desktop web development to mobile app and web developement.
      ul I will promptly respond to you if you reach out using any of the below contact method:
      	li Phone : 317-457-7823
      	li Email : tkmud91@hotmail.com