extends layout

block content
  .row(class='align-items-center',style='border-top: 5px solid black')
  .col(class='bcontent')
    img(class='img-fluid img-thumbnail rounded mx-auto d-block',src='images/profilepic/profilepic1.jpg', alt=' profile picture')
    h1 Sorry there was an error trying to access your requested path:
    p= message
