extends layout

block content
  .row(class='align-items-center',style='border-top: 5px solid black')
    .col(class='bcontent')
      img(class='img-fluid img-thumbnail rounded mx-auto d-block',src='images/profilepic/profilepic1.jpg', alt=' profile picture')
      p.title Takunda Eugene Mudarikwa | Full-stack Developer 
      p Currently working as a Developer for Frew Process Group. A role that exposes me to various languages and technologies. The projects and tasks that I do range from as simple as creating reporting templates to getting complex as building applications that accomplish multi important tasks. I have the opportunity to address, gather requirements directly from the CEO and top managerial people, and be able to articulate those needs into visible software accomplishments.
      p I am an individual who keeps on seeking a constant advancement in knowledge in order to keep myself as relevant as possible. Problem solving keeps me intrigued because within a complex problem lies an aftermath of rewarding satisfaction, incomparable to any other, and self discovery of one's potential. I try my best to forever stay a humble student of technology whilst leveraging every experience that I have accumulated thus far, to produce the best result out of every work that bears my signature.
  .row(class='align-items-center')
    .col(style='text-align: center;margin-bottom: 5px;')
      a(href='/portifolio')
        button PORTIFOLIO
      a(href='/downloadresume')
        button RESUME
      a(href='/about')
        button ABOUT
      a(href='/contact')
        button CONTACT