extends layout

block content
  .container-fluid.vh-100
    #home.row.vh-100
      h4.col-12 Hi, my name is Takunda Mudarikwa. I'm a Full Stack Web Developer.
      #navdiv
        nav.navbar.navbar-nav.col-12
          a.navlink.nav-item(href='') HOME
          a.navlink.nav-item(href='') PORTFOLIO
          a.navlink.nav-item(href='') RÉSUMÉ
          a.navlink.nav-item(href='') ABOUT
          a.navlink.nav-item(href='') CONTACT
      blockquote.blockquote.col-12.card-block
        p.mb-0.text-wrap
        footer.blockquote-footer
    #portfolio
      h1.col-12  Portfolio
      input.col-12.col-md-6(type='text',id='search',placeholder='Search Portfolio',onkeyup='search_portfolio()')
    .row.portfolio
      .col-12.col-md-6.col-lg-4
        p.projectname
          strong PROJECT NAME:
          |  CHILLYBARRELS (WOOCOMMERCE)
        p.role
          strong ROLE:
          |  Server setup and configuration, Ecommerce & database setup, Frontend development
        p.skills
          strong TECHNOLOGIES:
          |  WooCommerce,WordPress, MySQL, AWS (Lightsail), CPanel, Google Maps API
        p.description
          strong DESCRIPTION:
          |  This is a liquor buying and delivery site built on Magento2 ecommerce platform.
        a(href='https://pixykorner.co.za/chillybarrels', target='_blank')
          p.link
            strong LINK:
            |  https://pixykorner.co.za/chillybarrels
        a.viewp.text-reset(href='/portfolio/chillybarrels-woocommerce')
          p.viewp
            strong PROJECT IMAGES
      .col-12.col-md-6.col-lg-4
        p.projectname
          strong PROJECT NAME:
          |  CHILLYBARRELS PORTAL
        p.role
          strong ROLE:
          |  Front & backend developer, database architect and developer
        p.skills
          strong TECHNOLOGIES:
          |  NodeJS, MongoDB, GoogleMaps API, Magento2 API, Tookan API, Twilio , Heroku
        p.description
          strong DESCRIPTION:
          |  Primarily built as the access portal for our affliates. To aid the ChillyBarrels ecommerce site, I created the portal to be able to leverage Magento2 API and the delivery system's API(tookan) together with several other API integrations to provide an inclusive order notification and tracking to all the affliated stores.
        a(href='https://portal-chillybarrels.herokuapp.com', target='_blank')
          p.link
            strong LINK:
            |  https://portal-chillybarrels.herokuapp.com
        a.viewp.text-reset(href='/portfolio/chillybarrels-portal')
          p.viewp
            strong PROJECT IMAGES
      .col-12.col-md-6.col-lg-4
        p.projectname
          strong PROJECT NAME:
          |  CHILLYBARRELS (MAGENTO)
        p.role
          strong ROLE:
          |  Server setup and configuration, Ecommerce & database setup, Frontend development
        p.skills
          strong TECHNOLOGIES:
          |  Magento2, Ubuntu, MySQL, AWS
        p.description
          strong DESCRIPTION:
          |  This is a liquor buying and delivery site built on Magento2 ecommerce platform.
        a.viewp.text-reset(href='/portfolio/chillybarrels')
          p.viewp
            strong PROJECT IMAGES
      .col-12.col-md-6.col-lg-4
        p.projectname
          strong PROJECT NAME:
          |  ADB Delivery Services
        p.role
          strong ROLE:
          |  Front & backend developer, database architect and developer
        p.skills
          strong TECHNOLOGIES:
          |  NodeJS, HTML, CSS, bootstrap, JavaScript, JQuery, Express, Heroku, MongoDB, GoogleMaps API, Square API
        p.description
          strong DESCRIPTION:
          |  I did the front and back end developing for a delivering service company. The main thing they wanted was for their customers to be able to schedules appointments online, make payments, join their mailing list and be able to leave reviews. 
        p.link
          strong GITHUB:
          | NONE
        a(href='https://www.adbdeliveryservices.com/', target='_blank')
          p.link
            strong LINK:
            |  https://www.adbdeliveryservices.com/
        a.viewp.text-reset(href='/portfolio/adbdeliveryservices')
          p.viewp.text-reset
            strong PROJECT IMAGES
      .col-12.col-md-6.col-lg-4
        p.projectname
          strong PROJECT NAME:
          |  POTENCITY
        p.role
          strong ROLE:
          |  Designer , front & backend developer, database architect and developer
        p.skills
          strong TECHNOLOGIES:
          |  NodeJS, Express, AJAX, jQuery, CSS, MongoDB, Twilio, Mandrill, MailChimp
        p.description
          strong DESCRIPTION:
          |  A talent search application that takes the usual bias out of the way. It provides a diverse pool of talent for companies whilst also giving back to the community.
        a(href='https://potencity.herokuapp.com', target='_blank')
          p.link
            strong LINK:
            |  https://potencity.herokuapp.com/
        a.viewp.text-reset(href='/portfolio/potencity')
          p.viewp
            strong PROJECT IMAGES
      .col-12.col-md-6.col-lg-4
        p.projectname
          strong PROJECT NAME:
          |  GIRL CHILD OUTREACH
        p.role
          strong ROLE:
          |  Designer, frontend developer
        p.skills
          strong TECHNOLOGIES:
          |  NodeJS, HTML, CSS, bootstrap, JavaScript, JQuery, Express, Mandrill, Heroku
        p.description
          strong DESCRIPTION:
          |  Designed the layout and did front end developing for a concept page for a Girl Child charity.
        p.link
          strong GITHUB:
          | NONE
        a(href='http://girlchildoutreach.herokuapp.com/', target='_blank')
          p.link
            strong LINK:
            |  http://girlchildoutreach.herokuapp.com/
      .col-12.col-md-6.col-lg-4
        p.projectname
          strong PROJECT NAME:
          |  INTERNAL FPG SALES PORTAL
        p.role
          strong ROLE:
          |  Designer , front & backend developer, database developer
        p.skills
          strong TECHNOLOGIES:
          |  FPG | J2EE, HTML, HTML5, AJAX, jQuery, CSS, PostgreSQL, D3.JS, GoogleMaps API
        p.description
          strong DESCRIPTION:
          |  This is an internal sales portal which serves to make it easier for sales people to set and target customer to focus on. Though this was the main idea the application does far more than that from displaying a snap shot of the companys' revenue through graphs to mapping customers on a map using google maps API and also uploading excel data to a Postgres database.
        a(href='http://portal.frewprocess.com', target='_blank')
          p.link
            strong LINK:
            |  http://portal.frewprocess.com
        a.viewp.text-reset(href='/portfolio/fpg')
          p.viewp
            strong PROJECT IMAGES
      .col-12.col-md-6.col-lg-4
        p.projectname
          strong PROJECT NAME:
          |  INTERNAL GASCO SALES PORTAL
        p.role
          strong ROLE:
          |  Designer , front & backend developer, database developer
        p.skills
          strong TECHNOLOGIES:
          |  FPG | J2EE, HTML, HTML5, AJAX, jQuery, CSS, PostgreSQL, D3.JS, GoogleMaps API
        p.description
          strong DESCRIPTION:
          |  This is an internal sales portal which serves to make it easier for sales people to set and target customer to focus on. Though this was the main idea the application does far more than that from displaying a snap shot of the companys' revenue through graphs to mapping customers on a map using google maps API and also uploading excel data to a Postgres database.
        a(href='http://portal.gascoonline.com', target='_blank')
          p.link
            strong LINK:
            |  http://portal.gascoonline.com
        a.viewp.text-reset(href='/portfolio/gasco')
          p.viewp.text-reset
            strong PROJECT IMAGES
      .col-12.col-md-6.col-lg-4
        p.projectname
          strong PROJECT NAME:
          |  MUMOAFRUIKA-LANDING PAGE
        p.role
          strong ROLE:
          |  Designer , front & backend developer, database architect and developer
        p.skills
          strong TECHNOLOGIES:
          |  NodeJS, HTML, JQuery, MongoDB, Express, Mandrill, Heroku
        p.description
          strong DESCRIPTION:
          |  This a web page that curates information and as well serves as a way to update the progress on the actual MuMoAfruika platform.
        a(href='https://github.com/tmudarikwa/MuMoAfruika', target='_blank')
          p.link
            strong GITHUB:
            |  https://github.com/tmudarikwa/MuMoAfruika
        a(href='http://www.mumoafruika.com', target='_blank')
          p.link
            strong LINK:
            |  http://www.mumoafruika.com
        a.viewp.text-reset(href='/portfolio/mumoafruika-landing')
          p.viewp.text-reset
            strong PROJECT IMAGES
      .col-12.col-md-6.col-lg-4
        p.projectname
          strong PROJECT NAME:
          |  MUMOAFRUIKA-PLATFORM - UI
        p.role
          strong ROLE:
          | Frontend developer
        p.skills
          strong TECHNOLOGIES:
          |  HTML5 , CSS, Bootstrap, JQUERY, Javascript, Photoshop
        p.description
          strong DESCRIPTION:
          |  This is the UI concept for the comming soon MuMoAfruika plaform. Currently focusing on the responsive web version.
        a.viewp.text-reset(href='/portfolio/mumoafruika-platform')
          p.viewp.text-reset
            strong PROJECT IMAGES
      .col-12.col-md-6.col-lg-4
        p.projectname
          strong PROJECT NAME:
          |  GERFUSA
        p.role
          strong ROLE:
          |  Designer, frontend & backend developer, database architect and developer
        p.skills
          strong TECHNOLOGIES:
          |  NodeJS, HTML, CSS, JavaScript, JQuery, MongoDB, Express, MailChimp, Twilio, Mandrill,Heroku
        p.description
          strong DESCRIPTION:
          |  This web application is for a service and errands company which will enable customers to buy and schedule groceries/errands. It also has a customer chat interface plus a employee portal to facilitate retrieving the orders and other company/customer data.
        a(href='https://github.com/tmudarikwa/GERFUSA', target='_blank')
          p.link
            strong GITHUB:
            |  https://github.com/tmudarikwa/GERFUSA
        a(href='http://www.gerfusa.com', target='_blank')
          p.link
            strong LINK:
            |  http://www.gerfusa.com
        a.viewp.text-reset(href='/portfolio/gerfusa')
          p.viewp.text-reset
            strong PROJECT IMAGES
      .col-12.col-md-6.col-lg-4
        p.projectname
          strong PROJECT NAME:
          |  REPLICATION TRACE WINDOWS DESKTOP APPLICATION
        p.role
          strong ROLE:
          | GUI Designer & programmer
        p.skills
          strong TECHNOLOGIES:
          |  C# & WPF
        p.description
          strong DESCRIPTION:
          |  This desktop application was built inorder to trace duplicate records in a table. The application will return all the records that are identical from the table which it attains by individually checking each record in the table.
      .col-12.col-md-6.col-lg-4
        p.projectname
          strong PROJECT NAME:
          |  EXPENSE ALLOCATION METRICS WINDOWS DESKTOP APPLICATION
        p.role
          strong ROLE:
          | GUI Designer & programmer
        p.skills
          strong TECHNOLOGIES:
          |  C#, WPF
        p.description
          strong DESCRIPTION:
          |  This desktop application was intended to ease the bi-weekly accounting and warehouse split calculations. The clients shared accounting and warehouse personel but always had to track payments owed from each client by means of querying invoices and orders processed by each department for each client. Migrated the queries from MySQL to Postgres and build a windows GUI application.
        a.viewp.text-reset(href='/portfolio/expense')
          p
            strong PROJECT IMAGES
    #about.row
      .col-lg-4
        img.img-fluid.img-thumbnail.rounded.mx-auto.d-block(src='images/family.jpg', alt='family picture')
        .title
          h1.h1 THE MUDARIKWA's
          h4 (left - right : Iris, Takunda & Israel)
          |
      .col-lg-8
        h1  About
        p
          | I am a father to a handsome son and a beautiful daughter. I enjoy spending time with my kids and relaxing at home while watching some of my favorite TV shows or movies. I enjoy embarking on different kinds of coding challenges and adventures as well as learning new skills. I have a three-year Advanced Diploma in Health Informatics Technology from Centennial College in Canada. From there, I enrolled in Computer Science at the University of Indianapolis; took a couple of classes which led me to my first realization of wanting to focus on web development. I managed to secure an internship that turned into a full-time position where I was exposed to different stages of software development life cycles and was able to solidify my fundamental skills.
        p
          | As I keep on adding more skills to my never-ending bag of skill set, staying current with new and emerging technologies will forever be my motto!
    #contact.row(class='no-gutters')
      .col-sm-12(id='mdless')
        img.img-fluid.img-thumbnail.rounded.mx-auto.d-block(src='images/workflow.jpg', alt=' profile picture')
      .no-gutters.col-sm-12.col-lg-8
        h1.title.h1 Let's get some work done!
        .col-12
          #emailfromcustomer.col-12
            input#customeremail.col-12(type='text', placeholder='Enter your email')
            textarea#customertext.col-12(placeholder='Briefly describe your project. I usually respond to emails within 24 hours. :)', rows='4')
            button#contactform_submit.col-12 SEND EMAIL
      .float-left.col-sm-12.col-lg-4
        img.img-fluid.img-thumbnail.rounded.mx-auto.d-block(src='images/workflow.jpg', alt=' profile picture')
