extends layout

block content
  .container-fluid
    .row(class='align-items-center',style='border-top: 5px solid black; padding-top: 5px')
      .col(class='bcontent')
        img(class='img-fluid profilepic mx-auto d-block',src='images/profilepic/taku-circle.png', alt=' profile picture')
        h1.title(class='h1') Takunda Eugene Mudarikwa | Full-stack Web Developer
        div
          p Having worked as a Developer for little over four years now, I have had the chance to be exposed to various languages and technologies. The projects and tasks that I have done range from as simple as creating reporting templates to getting complex as building applications that accomplish multi-important tasks. I have had the opportunity to address, gather requirements directly from CEO's and top managerial people, and be able to articulate those needs into visible software accomplishments.
          p I am an individual who keeps on seeking a constant advancement in knowledge in order to keep myself as relevant as possible. Problem solving keeps me intrigued because within a complex problem lies an aftermath of rewarding satisfaction, incomparable to any other, and self discovery of one's potential. I try my best to forever stay a humble student of technology whilst leveraging every experience that I have accumulated thus far, to produce the best result out of every work that bears my signature.
