extends layout

block content
  section.gallery-block.cards-gallery
    .container-fluid
      .heading
        h1.title PORTFOLIO - MuMoAfruika
      .row
        .col-md-6.col-lg-4
          .card.border-0.transform-on-hover
            a.lightbox(href='../images/portifolio/mumoafruika/usertypes.png')
              img.card-img-top(src='../images/portifolio/mumoafruika/usertypes.png', alt='MuMoAfruika  user types')
            .card-body
              h6
                a(href='#') User Types
              p.text-muted.card-text Visitors are prompted to select one of the three user types since these are crucial in defining user roles in the upcoming application.
        .col-md-6.col-lg-4
          .card.border-0.transform-on-hover
            a.lightbox(href='../images/portifolio/mumoafruika/emailfill.png')
              img.card-img-top(src='../images/portifolio/mumoafruika/emailfill.png', alt='MuMoAfruika Email Subscription')
            .card-body
              h6
                a(href='#') Email Subscription Registration
              p.text-muted.card-text They then should enter a valid email for them to be able to subscribe to the email blast. An email validation is in place on the text field.
        .col-md-6.col-lg-4
          .card.border-0.transform-on-hover
            a.lightbox(href='../images/portifolio/mumoafruika/subscription.png')
              img.card-img-top(src='../images/portifolio/mumoafruika/subscription.png', alt='MuMoAfruika Email Subscription Confirmation')
            .card-body
              h6
                a(href='#') Email Subscription Registration (continued)
              p.text-muted.card-text After hitting submit a status confirmation dialog pops up.

      #backtohome
        a(href="/#portfolio") BACK TO HOME
