extends layout

block content
  .container-fluid(class="portfolio")
    .row(class='align-items-center',style='border-top: 5px solid black;text-align:center')
      .col
        p.title(style='font-weight:bold;font-size:200%;') PORTFOLIO   
    .row(class='align-items-center')
      .col
        a(href='portalfrewprocess')
          img(class='img-fluid mx-auto d-block',src='images/portifolio/portalfrewprocess.png', alt=' profile picture')
        p INTERNAL SALES PORTAL - FPG | J2EE, HTML, HTML5, AJAX, jQuery, CSS, PostgreSQL 
        p.description DESCRIPTION : This is a internal sales portal which serves to make it easier for sales people to set and target customer to focus on. Though this was the main idea the application does far more than that from displaying a snap shot of the companys' revenue through graphs to mapping customers on a map using google maps API and also uploading excel data to a Postgres database.
        p.role ROLE : Designer , front & back-end coder
        a(href='http://portal.frewprocess.com', target='_blank')
          p.link LINK: http://portal.frewprocess.com
    .row(class='align-items-center')    
      .col
        a(href='portalgascoonline')
          img(class='img-fluid mx-auto d-block ',src='images/portifolio/portalgascoonline.png', alt=' profile picture')
        p INTERNAL SALES PORTAL - GASCO | J2EE, HTML, HTML5, AJAX, jQuery, CSS, PostgreSQL  
        p.description DESCRIPTION: This is a internal sales portal which serves to make it easier for sales people to set and target customer to focus on. Though this was the main idea the application does far more than that from displaying a snap shot of the companys' revenue through graphs to mapping customers on a map using google maps API and also uploading excel data to a Postgres database.
        p.role ROLE: Designer, front & back-end coder
        a(href='http://portal.gascoonline.com', target='_blank')
          p.link LINK: http://portal.gascoonline.com
    .row(class='align-items-center')
      .col
        a(href='mumoafruika')
          img(class='img-fluid mx-auto d-block',src='images/portifolio/mumoafruika.png', alt='mumoafruika')
        p MUMOAFRUIKA | NodeJS, HTML, JQuery, MongoDB, Express, MailChimp, Heroku
        p.description DESCRIPTION: This a web page that curates information and as well serves as a way to update the progress on the actual MuMoAfruika platform. 
        p.role ROLE : Designer , front & back-end coder, database architect
        a(href='http://www.mumoafruika.com', target='_blank')
          p.link LINK: http://www.mumoafruika.com
    .row(class='align-items-center')     
      .col
        a(href='gerfusa')
          img(class='img-fluid mx-auto d-block',src='images/portifolio/gerfusa.png', alt='mumoafruika')
        p GERFUSA - still in development | NodeJS, HTML, JQuery, MongoDB, Express, MailChimp, Heroku
        p.description DESCRIPTION: This web application is for a service and errands company which will enable customers to buy and schedule groceries/errands. It also has a customer chat interface plus and employee portal to facilitate retrieving the orders and all.
        p.role ROLE : Designer, front & back-end coder, database architect 
        a(href='https://salty-mountain-65693.herokuapp.com/', target='_blank')
          p.link LINK: https://salty-mountain-65693.herokuapp.com/