extends layout

block content
  .container-fluid(class="portfolio")
    .row(class='align-items-center',style='border-top: 5px solid black;text-align:center')
      .col
        h1.title PORTFOLIO
    .row(class='align-items-center portfolio-content')
      .col-8
        a(href='portfolio/fpg')
          img(class='img-fluid mx-auto d-block',src='images/portifolio/portalfrewprocess.png', alt='fpg salesportal web application picture')
      .col
        h2.projectname
          strong PROJECT NAME:
          |  INTERNAL FPG SALES PORTAL
        p.role
          strong ROLE:
          |  Designer , front & back-end coder
        p.skills
          strong TECHNOLOGIES:
          |  FPG | J2EE, HTML, HTML5, AJAX, jQuery, CSS, PostgreSQL
        p.description
          strong DESCRIPTION:
          |  This is an internal sales portal which serves to make it easier for sales people to set and target customer to focus on. Though this was the main idea the application does far more than that from displaying a snap shot of the companys' revenue through graphs to mapping customers on a map using google maps API and also uploading excel data to a Postgres database.
        a(href='http://portal.frewprocess.com', target='_blank')
          p.link
            strong LINK:
            |  http://portal.frewprocess.com
    .row(class='align-items-center',style='text-align:center')
      .col
        button(id='previousprojbtn' style='display:none') PREVIOUS PROJECT
        button(id='nextprojbtn') NEXT PROJECT
