extends layout

block content
  .row(class='align-items-center',style='border-top: 5px solid black')
    .col(class='bcontent')
      p.title RESUME
      .resume= data 
      a(href='/downloadresume')
        button DOWNLOAD RESUME