.table-responsive{    
    height:90%
}

table thead{
    background:black;
    color:white
}

#submit{
    background:black;
    color:white;
    padding:.5rem;
    font-weight: bold;
}

.title,#buttons{
    margin:2rem;
}