.table-responsive{    
    height:90%
}

table thead{
    background:black;
    color:white
}

#submit,#addRow span{
    background:black;
    color:white;
    padding:.5rem;
    font-weight: bold;
}

.title{
    margin:2rem;
}

#buttons{
    margin-top:2rem;
    margin-bottom:2rem;
}