.table-responsive{    
    height:90%
}

table thead{
    background:black;
    color:white
}

#submit,#addRow span{
    background:black;
    color:white;
    padding:.5rem;
    font-weight: bold;
}

.title{
    margin:2rem;
}

#buttons{
    margin-top:2rem;
    margin-bottom:2rem;
}

#uploadform{
    text-align: center;
    padding: 5rem;
}

#uploadform label{
    margin-right: 1rem
}

#uploadform [type=submit] {
    width:50%;
}

h3{
    padding: 10rem;
    text-align: center;
}