/*
  general styles
*/
body {
 font-family: 'Oswald', sans-serif;
 background-color: rgba(114, 28, 36, 1);
 color:white;
}

.container-fluid {
  margin:0;
}


/*
 body styles
*/
.img-thumbnail{
	height:250px !important;
}

p.title{
  font-size:150%;
  font-weight:bold;
  text-align:center;
  padding-left:20px;
  padding-right:20px;

}

p {
  text-align:left;
}
button {
  background-color: inherit;
  border: 1px solid black;
  border-radius: 3px;
  font-weight: bold;
  padding:2px;
  font-size: 200%;
}

button.selected {
  background-color: black;
  color:white;
}
a{
  margin-left:2%;
}

/*
 contact page
*/
#emailfromcustomer {
  text-align:center;
  width:100%;
}

#emailfromcustomer button {
  font-size:150%;
}
input, textarea{
  width:100%;
  border-radius:5px;
  border:3px solid black;
}

/*
 portfolio
*/
.portfolio p {
  text-align:center;
}

.portfolio p.description, .portfolio p.role, .portfolio a, .link {
  padding-top:.2em;
  color: inherit;
  text-align:left;
  padding-left:10%;
  padding-right: 10%
}

.portfolio a{
  padding-top:-20px;
}

/*
 footer styles
*/
footer , .footer{
  background-color:black;
  text-align: center;
  color:white;
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center;
}

footer img{
  background-color: none;
  height:40px !important;
}