/*
  general styles
*/
body {
 font-family: 'Oswald', sans-serif;
 background-color: rgba(114, 28, 36, 1);
 color:white;
}

.container-fluid {
  margin:0;
}


/*
 body styles
*/
.img-thumbnail{
	height:250px !important;
}

p.title{
  font-size:150%;
  font-weight:bold;
  text-align:center;
  padding-left:20px;
  padding-right:20px;

}

p {
  text-align:left;
}
button {
  background-color: inherit;
  border: 1px solid black;
  border-radius: 3px;
  font-weight: bold;
  padding:2px;
  font-size: 200%;
}

button.selected {
  background-color: black;
  color:white;
}
a{
  margin-left:2%;
}

/*
 footer styles
*/
footer{
  background-color:black;
  text-align: center;
  color:white;
}

footer p {
  text-align: center;
}

footer img{
  background-color: none;
  height:40px !important;
}