extends ../layout

block content
  section.gallery-block.cards-gallery
    .container-fluid
      .heading
        h1.title PORTFOLIO - MuMoAfruika
      .row
        .col-md-6.col-lg-4
          .card.border-0.transform-on-hover
            a.lightbox(href='../images/portifolio/expenseallocation/expenseallocation.JPG')
              img.card-img-top(src='../images/portifolio/expenseallocation/expenseallocation.JPG' , alt='Expense Allocation Metrics')
            .card-body
              h6
                a(href='#') Expense Allocation
              p.text-muted.card-text The GUI interface provides input for different parameters that allow the user to be able to get calculated total that end up being used for payroll purposes.


      #backtohome
        a(href="/#portfolio") BACK TO HOME
