extends ../layout

block content
  .container-fluid
    .row(class='align-items-center',style='border-top: 5px solid black; padding-top: 5px')
      .col(class='bcontent')
        h1.title PORTFOLIO - FPG SALES PORTAL
        #carouselExampleIndicators.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
            li(data-target='#carouselExampleIndicators', data-slide-to='1')
            li(data-target='#carouselExampleIndicators', data-slide-to='2')
          .carousel-inner
            .carousel-item.active
              img.d-block.w-100(src='../images/portifolio/frewprocess/Dashboard2.png', alt='Dashboard page')
            .carousel-item
              img.d-block.w-100(src='../images/portifolio/frewprocess/Dashboard.png', alt='Dashboard page')
            .carousel-item
              img.d-block.w-100(src='../images/portifolio/frewprocess/Sales Goals.png', alt='Sales goals page')
            .carousel-item
              img.d-block.w-100(src='../images/portifolio/frewprocess/Customer Accounts.png', alt='Customer Accounts page')
            .carousel-item
              img.d-block.w-100(src='../images/portifolio/frewprocess/Prospects Map.png', alt='Prospects Map page')
            .carousel-item
              img.d-block.w-100(src='../images/portifolio/frewprocess/Customizable Map.png', alt='Customizable Map page')
            .carousel-item
              img.d-block.w-100(src='../images/portifolio/frewprocess/Upload.png', alt='Customizable Map page')
          a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
          a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
