extends layout

block content
  #carouselExampleIndicators.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
      li(data-target='#carouselExampleIndicators', data-slide-to='1')
      li(data-target='#carouselExampleIndicators', data-slide-to='2')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='images/portifolio/frewprocess/Dashboard2.png', alt='Dashboard page')
        .carousel-caption d-none d-md-block">
        h5 Dashboard
        p When an employee signs into the portal they land on to this dashboard page that give them a glance look at the company's progress categorized by certain documents. The is also filter functionality that enables a historical data search.
      .carousel-item
        img.d-block.w-100(src='images/portifolio/frewprocess/Dashboard.png', alt='Dashboard page')
        .carousel-caption d-none d-md-block">
        h5 Dashboard (continued)
        p  The graphs have interactive functionality that enables a user to click the original graph and be presented the a graph that responds to clicks and mouseover hovers.
      .carousel-item
        img.d-block.w-100(src='images/portifolio/frewprocess/Sales Goals.png', alt='Sales goals page')
        .carousel-caption d-none d-md-block">
        h5 Sales Goals
        p This page allows a user to create sales target goals based on different sales territories and also to filter and search those goals.
    a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
