extends ../layout

block content
  .container-fluid.portfolio.portfoliodetail
    .row(class='align-items-center',style='border-top: 5px solid black; padding-top: 5px')
      .col
        button(id='backbtn') BACK
      .col-10
        h1.title PORTFOLIO - GASCO SALES PORTAL
    .row
      .col
        #portfoliodetails
          #1(class='active')
            img(class='img-fluid mx-auto d-block' src='../images/portifolio/gasco/Dashboard2.png', alt='Dashboard page')
            div.content
              h4 Dashboard page
              p When an employee signs into the portal they land on to this dashboard page that gives them an high level look at the company's progress categorized by certain business documents. There is also a filter functionality that enables a historical data search.
          #2
            img(class='img-fluid mx-auto d-block' src='../images/portifolio/gasco/Dashboard.png', alt='Dashboard page')
            div.content
              h4 Dashboard page (continued)
              p The graphs have interactive functionality that enables a user to click the original graph (from the previous page) and be presented with another graph that has more interactive features to respond to clicks and mouseover hovers.
          #3
            img(class='img-fluid mx-auto d-block' src='../images/portifolio/gasco/Sales Goals.png', alt='Sales goals page')
            div.content
              h4 Sales Goals page
              p This page allows a user to create sales target goals based on different sales territories and also to filter and search those goals.
          #4
            img(class='img-fluid mx-auto d-block' src='../images/portifolio/gasco/Prospects Map.png', alt='Prospects Map page')
            div.content
              h4 Prospects Map page
              p The Prospects map page displays plotted customers by different categorization( target account, key accounts, and historic customers and others) which ties back to sales effort roles assigned on the Customer Accounts page. This page leverages to googleMaps API, Ajax, jQuery and javascript to perform its core functions. On a customer plotted pin a user is able to see the customer's past orders, past paid invoices, and furthermore click the pin for a more detailed look. The right fly out enables filtering by date, classifications, categories, account type, geocoding quality, and by dynamically adding some grouped filters. Last but not least a user can short list the customers that they want to focus on by doubling clicking on a customer plotted pin and by doing so add them to the "Added Partners" cache.
          #5
            img(class='img-fluid mx-auto d-block' src='../images/portifolio/gasco/Customizable Map.png', alt='Customizable Map page')
            div.content
              h4 Prospects Map page (continued)
              p The Customizable Map is were the "Added Partners" from the Prospects Map are displayed. On this page a user can search a customer's address straight on to the map and can add all those plotted points to a print cache.
          #6
            img(class='img-fluid mx-auto d-block' src='../images/portifolio/gasco/Upload.png', alt='Customizable Map page')
            div.content
              h4 Upload page
              p The Upload page is for uploading excel marketing data into the company's database. This follows a number of different business rules to ensure data integrity. Before uploading a file users can verify if their excel document is formatted correctly by downloading a copy of the excepted file format.
    .row(class='align-items-center',style='text-align:center')
        .col
          button(id='previousportfoliobtn' style='display:none') PREVIOUS
          button(id='nextportfoliobtn') NEXT
