extends ../layout

block content
  .container-fluid.portfolio.portfoliodetail
    .row(class='align-items-center',style='border-top: 5px solid black; padding-top: 5px')
      .col-1
        img(id='backbtn' src='../images/back.png' , alt='Back button image')
      .col-11
        h1.title PORTFOLIO - GERFUSA
    .row
      .col
        #portfoliodetails
          #1(class='active')
            img(class='img-fluid mx-auto d-block' src='../images/portifolio/gerfusa/homepage.png', alt='GERFUSA home page')
            div.content
              h4 Home page
              p Full window browser width home page look that gives users a peak at what the company does.
          #2
            img(class='img-fluid mx-auto d-block' src='../images/portifolio/gerfusa/homepage2.png', alt='GERFUSA how it works')
            div.content
              h4 Home page (continued) - HOW IT WORKS
              p Clicking the "HOW IT WORKS" button shows the ordering a service process from start to delivery.
          #3
            img(class='img-fluid mx-auto d-block' src='../images/portifolio/gerfusa/services.png', alt='GERFUSA Services information')
            div.content
              h4 Home page (continued) - SERVICES
              p Clicking on one of the navigation links opens up a detailed description of that service. In the above image there is a detailed description and estimated pricing for Grocery deliveries, Errands service, and Fastfood deliveries.
          #4
            img(class='img-fluid mx-auto d-block' src='../images/portifolio/gerfusa/login.png', alt='GERFUSA Login PAGE')
            div.content
              h4 Home page (continued) - ERRANDS
              p The login page that has an option to sign in with Facebook, Google, and Twitter. Users can also use their GERFUSA created account information if they created their account from the "SIGN UP" page.
          #5
            img(class='img-fluid mx-auto d-block' src='../images/portifolio/gerfusa/groceries.png', alt='GERFUSA Groceries Order page')
            div.content
              h4 Groceries Page
              p After logging in a user is redirected to the groceries page where they can start scheduling a delivery by clicking on a chosen store.
          #6
            img(class='img-fluid mx-auto d-block' src='../images/portifolio/gerfusa/groceries-store.png', alt='GERFUSA Groceries Order page')
            div.content
              h4 Groceries Page
              p When a user clicks on a chosen store there are shown options the should assist them in completing their order. Depending with the selected store some options will be available or not.
          #7
            img(class='img-fluid mx-auto d-block' src='../images/portifolio/gerfusa/errands.png', alt='GERFUSA Errands page')
            div.content
              h4 ERrands page
              p Clicking on the Errand menu takes you to the errands page where they can start scheduling a delivery by clicking on a chosen errand category.
          #8
            img(class='img-fluid mx-auto d-block' src='../images/portifolio/gerfusa/fastfood.png', alt='GERFUSA Login page')
            div.content
              h4 Fast food page
              p Clicking on the Fastfood menu takes you to the errands page where they can start scheduling a delivery by clicking on a chosen fastfood restaurant.
          #9
            img(class='img-fluid mx-auto d-block' src='../images/portifolio/gerfusa/servicelocations.png', alt='GERFUSA Service locations page')
            div.content
              h4 Service Locations page
              p Google Maps API powered page that detectes a users location and shows them if there is service in their area or not.
          #10
            img(class='img-fluid mx-auto d-block' src='../images/portifolio/gerfusa/contactus.png', alt='Contact us')
            div.content
              h4 Contact page
              p The contact page provides an option for users to submit information using our form based on a couple of categories. Alternatively they can just see displayed contact information
    .row(class='align-items-center',style='text-align:center')
        .col
          button(id='previousportfoliobtn' style='display:none') PREVIOUS
          button(id='nextportfoliobtn') NEXT
