extends ../layout

block content
  section.gallery-block.cards-gallery
    .container-fluid
      .heading
        h1.title PORTFOLIO - MuMoAfruika Platform UI
      .row
        .col-md-6.col-lg-4
          .card.border-0.transform-on-hover
            a.lightbox(href='../images/portifolio/mumoafruikaui/mumoafruikaui.png')
              img.card-img-top(src='../images/portifolio/mumoafruikaui/mumoafruikaui.png', alt='MuMoAfruika  user types')
            .card-body
              h6
                a(href='#') Music Page
              p.text-muted.card-text This will be the homepage were users are mostly likely to be automatically re-routed to. The design will be the basis for the whole WEB platform. It directly shows the features that make us distinct and at the same time provide the user with a great user experience.
        .col-md-6.col-lg-4
          .card.border-0.transform-on-hover
            a.lightbox(href='../images/portifolio/mumoafruikaui/mumoafruikamovies.png')
              img.card-img-top(src='../images/portifolio/mumoafruikaui/mumoafruikamovies.png', alt='MuMoAfruika  Movies Page')
            .card-body
              h6
                a(href='#') Movies Page
              p.text-muted.card-text The MOVIES page will be very similar to the MUSIC page because on both of these pages were are trying to showcase the different content that is produced from all African countries.
        .col-md-6.col-lg-4
          .card.border-0.transform-on-hover
            a.lightbox(href='../images/portifolio/mumoafruikaui/mumoafruikavideos.png')
              img.card-img-top(src='../images/portifolio/mumoafruikaui/mumoafruikavideos.png', alt='MuMoAfruika Videos Page')
            .card-body
              h6
                a(href='#') Videos Page
              p.text-muted.card-text The VIDEOS page differs from the first two page because in its default layout is doesn't present the country filter. We feel that since these videos maybe random and do not fit in the MOVIES & MUSIC professional or aspiring categories there isn't a need to present the country filter by default.

      #backtohome
        a(href="/#portfolio") BACK TO HOME
