extends ../layout

block content
  .container-fluid.portfolio.portfoliodetail
    .row(class='align-items-center',style='border-top: 5px solid black; padding-top: 5px')
      .col
        h1.title PORTFOLIO - MuMoAfruika
    .row
      .col
        #portfoliodetails
          #1(class='active')
            img(class='img-fluid mx-auto d-block' src='../images/portifolio/mumoafruika/usertypes.png', alt='MuMoAfruika  user types')
            div.content
              h4 User types
              p Visitors are prompted to select one of the three user types since these are crucial in defining user roles in the upcoming application.
          #2
            img(class='img-fluid mx-auto d-block' src='../images/portifolio/mumoafruika/emailfill.png', alt='MuMoAfruika  ')
            div.content
              h4 Email Subscription registration
              p They then should enter a valid email for them to be able to subscribe to the email blast. An email validation is in place on the text field.
          #3
            img(class='img-fluid mx-auto d-block' src='../images/portifolio/mumoafruika/subscription.png', alt='Sales goals page')
            div.content
              h4 Subscription Confirmation
              p After hitting submit a status confirmation dialog pops up
    .row(class='align-items-center',style='text-align:center')
        .col
          button(id='previousportfoliobtn' style='display:none') PREVIOUS
          button(id='nextportfoliobtn') NEXT
