extends ../layout

block content
  section.gallery-block.cards-gallery
    .container-fluid
      .heading
        h1.title PORTFOLIO - POTENCITY
      .row
        .col-md-6.col-lg-4
          .card.border-0.transform-on-hover
            a.lightbox(href='../images/portifolio/potencity/homepage.png')
              img.card-img-top(src='../images/portifolio/potencity/homepage.png', alt='Home Page')
            .card-body
              h6
                a(href='#') Home Page
              p.text-muted.card-text Landing Page that show the description of what Potencity offers.
        .col-md-6.col-lg-4
          .card.border-0.transform-on-hover
            a.lightbox(href='../images/portifolio/potencity/whatwedo.png')
              img.card-img-top(src='../images/portifolio/potencity/whatwedo.png', alt='What We Do')
            .card-body
              h6
                a(href='#') Home Page (continued)
              p.text-muted.card-text Description of what Potencity does. Buttons redirect to named links after the user signs in.
        .col-md-6.col-lg-4
          .card.border-0.transform-on-hover
            a.lightbox(href='../images/portifolio/potencity/gottalent.png')
              img.card-img-top(src='../images/portifolio/potencity/gottalent.png', alt='Got Talent')
            .card-body
              h6
                a(href='#') Home Page (continued)
              p.text-muted.card-text Perks of signing up for Potencity for those looking for a growing opportunity.
        .col-md-6.col-lg-4
          .card.border-0.transform-on-hover
            a.lightbox(href='../images/portifolio/potencity/findtalent.png')
              img.card-img-top(src='../images/portifolio/potencity/findtalent.png', alt='Find Talent')
            .card-body
              h6
                a(href='#') Home Page (continued)
              p.text-muted.card-text Perks of signing up for Firms that are looking for a diverse pool of dedicated employees.

        .col-md-6.col-lg-4
          .card.border-0.transform-on-hover
            a.lightbox(href='../images/portifolio/potencity/ourpartners.png')
              img.card-img-top(src='../images/portifolio/potencity/ourpartners.png', alt='Our Partners')
            .card-body
              h6
                a(href='#') Home Page (continued)
              p.text-muted.card-text Some of the company's brand partners that aide to their business advantage.
        .col-md-6.col-lg-4
          .card.border-0.transform-on-hover
            a.lightbox(href='../images/portifolio/potencity/joinourmailinglist.png')
              img.card-img-top(src='../images/portifolio/potencity/joinourmailinglist.png', alt='Join Our mailing list')
            .card-body
              h6
                a(href='#') Home Page (continued)
              p.text-muted.card-text Staying connected with updates and news from Potencity.
        .col-md-6.col-lg-4
          .card.border-0.transform-on-hover
            a.lightbox(href='../images/portifolio/potencity/aboutpage.png')
              img.card-img-top(src='../images/portifolio/potencity/aboutpage.png', alt='About Page')
            .card-body
              h6
                a(href='#') About Page
              p.text-muted.card-text This page provides an on-click link to Pentaho reports that are ran and hosted on the Pentaho Bi Server. I also had the task of creating and designing most of those reports(which included financial reports and an inclusive revenue and margin report that leveraged the company's ERP system workflow).
        .col-md-6.col-lg-4
          .card.border-0.transform-on-hover
            a.lightbox(href='../images/portifolio/potencity/signuppage.png')
              img.card-img-top(src='../images/portifolio/potencity/signuppage.png', alt='Signup Page')
            .card-body
              h6
                a(href='#') SignUp Page
              p.text-muted.card-text Signup Page for both talent and firms.
        .col-md-6.col-lg-4
          .card.border-0.transform-on-hover
            a.lightbox(href='../images/portifolio/potencity/loginpage.png')
              img.card-img-top(src='../images/portifolio/potencity/loginpage.png', alt='Login Page')
            .card-body
              h6
                a(href='#') Login Page
              p.text-muted.card-text Multiple ways to login and harness the power and advantages of Potencity.
      #backtohome
        a(href="/#portfolio") BACK TO HOME
